@namespace OptionA.Blazor.Interactive.Components
@using Microsoft.AspNetCore.Components

<div class="opta-interactive-host">
    <h3>Interactive Playground</h3>
    <div class="opta-playground-preview">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
