.opta-code-keyword {
    color: var(--opta-code-keyword);
}

.opta-code-controlkeyword {
    color: var(--opta-code-controlkeyword);
}

.opta-code-string {
    color: var(--opta-code-string);
}

.opta-code-method {
    color: var(--opta-code-method);  
}

.opta-code-comment {
    color: var(--opta-code-comment);    
}

.opta-code-attribute {
    color: var(--opta-code-attribute);
}

.opta-code-component {
    color: var(--opta-code-component);
    font-weight: var(--opta-fontweight-bold);
}

.opta-code-directive {
    color: var(--opta-code-directive);
}

.opta-code-tagdelimiter {
    color: var(--opta-code-tagdelimiter);
}

.opta-code-block {
    background-color: var(--opta-code-background);
    color: var(--opta-code-color);
    overflow-x: auto;
    white-space: pre;
    font-family: 'Cascadia Code','Cascadia Mono',Menlo,Monaco,Consolas,'Liberation Mono','Courier New',monospace !important;
    text-align: left;
}

.opta-code-header-block {
    background-color: var(--opta-code-headerbackground);
    position: sticky;
    left: var(--opta-code-header-left);
}

.opta-code-selected {
    background-color: var(--opta-code-selected);
}

.opta-color-link {
    color: var(--opta-link);
}

.opta-color-link:link {
    color: var(--opta-link-link);
}

.opta-color-link:visited {
    color: var(--opta-link-visited);
}

.opta-color-link:hover {
    color: var(--opta-link-hover);
}

.opta-color-link:active {
    color: var(--opta-link-active);
}

.opta-color-header {
    color: var(--opta-header);
}

.opta-color-text {
    color: var(--opta-text);
}

.opta-color-quote {
    color: var(--opta-quote);
}

.opta-color-subtle {
    color: var(--opta-sublte);
}

.opta-container-headername {
    background-color: var(--opta-containerheader-bg);
    color: var(--opta-containerheader-text);    
    width: fit-content;
}

.opta-container-header {
    display: flex;
    flex-flow: row nowrap;
}

.opta-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: var(--opta-strength-3);
}

.opta-tag-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: var(--opta-strength-2);
}

.opta-tag-item {
    background-color: var(--opta-tag-bg);
    color: var(--opta-tag-text);   
    display: inline-block;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
}

.opta-tag-item:link {
    color: var(--opta-tag-text);
}

.opta-tag-item:visited {
    color: var(--opta-tag-text);
}

.opta-tag-item:hover {
    color: var(--opta-tag-text);
}

.opta-tag-item:active {
    color: var(--opta-tag-text);
}

.opta-style-bold {
    font-weight: var(--opta-fontweight-bold);
}

.opta-style-thin {
    font-weight: var(--opta-fontweight-thin);
}

.opta-style-italic {
    font-style: italic;
}

.opta-style-underline {
    text-decoration: underline;
}

.opta-style-strikethrough {
    text-decoration: line-through;
}

.opta-style-lowercase {
    text-transform: lowercase;
}

.opta-style-uppercase {
    text-transform: uppercase;
}

.opta-style-monospace {
    font-family: 'Cascadia Code','Cascadia Mono',Menlo,Monaco,Consolas,'Liberation Mono','Courier New',monospace !important;
}

.opta-style-keepwhitespace {
    white-space: pre;
}

.opta-style-none {
    text-decoration: none;
}

.opta-list-style-none {
    list-style: none;
}

.opta-list-style-circle {
    list-style: disc;
}

.opta-list-style-opencircle {
    list-style: circle;
}

.opta-list-style-square {
    list-style: square;
}

.opta-list-style-disclosureopen {
    list-style: disclosure-open;
}

.opta-list-style-disclosureclosed {
    list-style: disclosure-closed;
}

.opta-list-style-numeric {
    list-style: decimal;
}

.opta-list-style-loweralpha {
    list-style: lower-alpha;
}

.opta-list-style-upperalpha {
    list-style: upper-alpha;
}

.opta-list-style-upperroman {
    list-style: upper-roman;
}

.opta-text-left {
    text-align: start;
}

.opta-text-right {
    text-align: end;
}

.opta-text-center {
    text-align: center;
}

.opta-block-left {
    display: block;
    margin-right: auto;
}

.opta-block-right {
    display: block;
    margin-left: auto;
}

.opta-block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.opta-compact-mode {
    max-height: var(--opta-compactmode-maxheight);
    cursor: pointer;
    user-select: none;
    display: block;
    overflow: hidden;
}

.opta-compact-mode:hover {
    color: inherit;
}

.opta-margin-top-1, .opta-margin-y-1, .opta-margin-1 {
    margin-top: var(--opta-strength-1);
}

.opta-margin-top-2, .opta-margin-y-2, .opta-margin-2 {
    margin-top: var(--opta-strength-2);
}

.opta-margin-top-3, .opta-margin-y-3, .opta-margin-3 {
    margin-top: var(--opta-strength-3);
}

.opta-margin-top-4, .opta-margin-y-4, .opta-margin-4 {
    margin-top: var(--opta-strength-4);
}

.opta-margin-top-5, .opta-margin-y-5, .opta-margin-5 {
    margin-top: var(--opta-strength-5);
}

.opta-margin-top-auto, .opta-margin-y-auto, .opta-margin-auto {
    margin-top: auto;
}

.opta-margin-right-1, .opta-margin-x-1, .opta-margin-1 {
    margin-right: var(--opta-strength-1);
}

.opta-margin-right-2, .opta-margin-x-2, .opta-margin-2 {
    margin-right: var(--opta-strength-2);
}

.opta-margin-right-3, .opta-margin-x-3, .opta-margin-3 {
    margin-right: var(--opta-strength-3);
}

.opta-margin-right-4, .opta-margin-x-4, .opta-margin-4 {
    margin-right: var(--opta-strength-4);
}

.opta-margin-right-5, .opta-margin-x-5, .opta-margin-5 {
    margin-right: var(--opta-strength-5);
}

.opta-margin-right-auto, .opta-margin-x-auto, .opta-margin-auto {
    margin-right: auto;
}

.opta-margin-bottom-1, .opta-margin-y-1, .opta-margin-1 {
    margin-bottom: var(--opta-strength-1);
}

.opta-margin-bottom-2, .opta-margin-y-2, .opta-margin-2 {
    margin-bottom: var(--opta-strength-2);
}

.opta-margin-bottom-3, .opta-margin-y-3, .opta-margin-3 {
    margin-bottom: var(--opta-strength-3);
}

.opta-margin-bottom-4, .opta-margin-y-4, .opta-margin-4 {
    margin-bottom: var(--opta-strength-4);
}

.opta-margin-bottom-5, .opta-margin-y-5, .opta-margin-5 {
    margin-bottom: var(--opta-strength-5);
}

.opta-margin-bottom-auto, .opta-margin-y-auto, .opta-margin-auto {
    margin-bottom: auto;
}

.opta-margin-left-1, .opta-margin-x-1, .opta-margin-1 {
    margin-left: var(--opta-strength-1);
}

.opta-margin-left-2, .opta-margin-x-2, .opta-margin-2 {
    margin-left: var(--opta-strength-2);
}

.opta-margin-left-3, .opta-margin-x-3, .opta-margin-3 {
    margin-left: var(--opta-strength-3);
}

.opta-margin-left-4, .opta-margin-x-4, .opta-margin-4 {
    margin-left: var(--opta-strength-4);
}

.opta-margin-left-5, .opta-margin-x-5, .opta-margin-5 {
    margin-left: var(--opta-strength-5);
}

.opta-margin-left-auto, .opta-margin-x-auto, .opta-margin-auto {
    margin-left: auto;
}

.opta-padding-top-1, .opta-padding-y-1, .opta-padding-1 {
    padding-top: var(--opta-strength-1);
}

.opta-padding-top-2, .opta-padding-y-2, .opta-padding-2 {
    padding-top: var(--opta-strength-2);
}

.opta-padding-top-3, .opta-padding-y-3, .opta-padding-3 {
    padding-top: var(--opta-strength-3);
}

.opta-padding-top-4, .opta-padding-y-4, .opta-padding-4 {
    padding-top: var(--opta-strength-4);
}

.opta-padding-top-5, .opta-padding-y-5, .opta-padding-5 {
    padding-top: var(--opta-strength-5);
}

.opta-padding-right-1, .opta-padding-x-1, .opta-padding-1 {
    padding-right: var(--opta-strength-1);
}

.opta-padding-right-2, .opta-padding-x-2, .opta-padding-2 {
    padding-right: var(--opta-strength-2);
}

.opta-padding-right-3, .opta-padding-x-3, .opta-padding-3 {
    padding-right: var(--opta-strength-3);
}

.opta-padding-right-4, .opta-padding-x-4, .opta-padding-4 {
    padding-right: var(--opta-strength-4);
}

.opta-padding-right-5, .opta-padding-x-5, .opta-padding-5 {
    padding-right: var(--opta-strength-5);
}

.opta-padding-bottom-1, .opta-padding-y-1, .opta-padding-1 {
    padding-bottom: var(--opta-strength-1);
}

.opta-padding-bottom-2, .opta-padding-y-2, .opta-padding-2 {
    padding-bottom: var(--opta-strength-2);
}

.opta-padding-bottom-3, .opta-padding-y-3, .opta-padding-3 {
    padding-bottom: var(--opta-strength-3);
}

.opta-padding-bottom-4, .opta-padding-y-4, .opta-padding-4 {
    padding-bottom: var(--opta-strength-4);
}

.opta-padding-bottom-5, .opta-padding-y-5, .opta-padding-5 {
    padding-bottom: var(--opta-strength-5);
}

.opta-padding-left-1, .opta-padding-x-1, .opta-padding-1 {
    padding-left: var(--opta-strength-1);
}

.opta-padding-left-2, .opta-padding-x-2, .opta-padding-2 {
    padding-left: var(--opta-strength-2);
}

.opta-padding-left-3, .opta-padding-x-3, .opta-padding-3 {
    padding-left: var(--opta-strength-3);
}

.opta-padding-left-4, .opta-padding-x-4, .opta-padding-4 {
    padding-left: var(--opta-strength-4);
}

.opta-padding-left-5, .opta-padding-x-5, .opta-padding-5 {
    padding-left: var(--opta-strength-5);
}

.opta-neg-margin-top-1, .opta-neg-margin-y-1, .opta-neg-margin-1 {
    margin-top: calc(var(--opta-strength-1) * -1);
}

.opta-neg-margin-top-2, .opta-neg-margin-y-2, .opta-neg-margin-2 {
    margin-top: calc(var(--opta-strength-2) * -1);
}

.opta-neg-margin-top-3, .opta-neg-margin-y-3, .opta-neg-margin-3 {
    margin-top: calc(var(--opta-strength-3) * -1);
}

.opta-neg-margin-top-4, .opta-neg-margin-y-4, .opta-neg-margin-4 {
    margin-top: calc(var(--opta-strength-4) * -1);
}

.opta-neg-margin-top-5, .opta-neg-margin-y-5, .opta-neg-margin-5 {
    margin-top: calc(var(--opta-strength-5) * -1);
}

.opta-neg-margin-right-1, .opta-neg-margin-x-1, .opta-neg-margin-1 {
    margin-right: calc(var(--opta-strength-1) * -1);
}

.opta-neg-margin-right-2, .opta-neg-margin-x-2, .opta-neg-margin-2 {
    margin-right: calc(var(--opta-strength-2) * -1);
}

.opta-neg-margin-right-3, .opta-neg-margin-x-3, .opta-neg-margin-3 {
    margin-right: calc(var(--opta-strength-3) * -1);
}

.opta-neg-margin-right-4, .opta-neg-margin-x-4, .opta-neg-margin-4 {
    margin-right: calc(var(--opta-strength-4) * -1);
}

.opta-neg-margin-right-5, .opta-neg-margin-x-5, .opta-neg-margin-5 {
    margin-right: calc(var(--opta-strength-5) * -1);
}

.opta-neg-margin-bottom-1, .opta-neg-margin-y-1, .opta-neg-margin-1 {
    margin-bottom: calc(var(--opta-strength-1) * -1);
}

.opta-neg-margin-bottom-2, .opta-neg-margin-y-2, .opta-neg-margin-2 {
    margin-bottom: calc(var(--opta-strength-2) * -1);
}

.opta-neg-margin-bottom-3, .opta-neg-margin-y-3, .opta-neg-margin-3 {
    margin-bottom: calc(var(--opta-strength-3) * -1);
}

.opta-neg-margin-bottom-4, .opta-neg-margin-y-4, .opta-neg-margin-4 {
    margin-bottom: calc(var(--opta-strength-4) * -1);
}

.opta-neg-margin-bottom-5, .opta-neg-margin-y-5, .opta-neg-margin-5 {
    margin-bottom: calc(var(--opta-strength-5) * -1);
}

.opta-neg-margin-left-1, .opta-neg-margin-x-1, .opta-neg-margin-1 {
    margin-left: calc(var(--opta-strength-1) * -1);
}

.opta-neg-margin-left-2, .opta-neg-margin-x-2, .opta-neg-margin-2 {
    margin-left: calc(var(--opta-strength-2) * -1);
}

.opta-neg-margin-left-3, .opta-neg-margin-x-3, .opta-neg-margin-3 {
    margin-left: calc(var(--opta-strength-3) * -1);
}

.opta-neg-margin-left-4, .opta-neg-margin-x-4, .opta-neg-margin-4 {
    margin-left: calc(var(--opta-strength-4) * -1);
}

.opta-neg-margin-left-5, .opta-neg-margin-x-5, .opta-neg-margin-5 {
    margin-left: calc(var(--opta-strength-5) * -1);
}

.opta-borderradius-topleft, .opta-borderradius {
    border-top-left-radius: var(--opta-radius);
}

.opta-borderradius-topright, .opta-borderradius {
    border-top-right-radius: var(--opta-radius);
}

.opta-borderradius-bottomleft, .opta-borderradius {
    border-bottom-left-radius: var(--opta-radius);
}

.opta-borderradius-bottomright, .opta-borderradius {
    border-bottom-right-radius: var(--opta-radius);
}

.opta-border-top, .opta-border-y, .opta-border {
    border-top: var(--opta-border);
}

.opta-border-right, .opta-border-x, .opta-border {
    border-right: var(--opta-border);
}

.opta-border-bottom, .opta-border-y, .opta-border {
    border-bottom: var(--opta-border);
}

.opta-border-left, .opta-border-x, .opta-border {
    border-left: var(--opta-border);
}