[opta-code="block"] {
    background-color: var(--oa-code-background);
    color: var(--oa-code-color);
    text-align: left;
}

[opta-code="header"] {
    background-color: var(--oa-code-headerbackground);
}

[opta-code-marker~="selected"] {
    background-color: var(--oa-code-selected);
}

[opta-code="keyword"] {
    color: var(--oa-code-keyword);
}

[opta-code="controlkeyword"] {
    color: var(--oa-code-controlkeyword);
}

[opta-code="string"] {
    color: var(--oa-code-string);
}

[opta-code="method"] {
    color: var(--oa-code-method);
}

[opta-code="comment"] {
    color: var(--oa-code-comment);
}

[opta-code="attribute"] {
    color: var(--oa-code-attribute);
}

[opta-code="component"] {
    color: var(--oa-code-component);
    font-weight: var(--oa-fontweight-bold);
}

[opta-code="directive"] {
    color: var(--oa-code-directive);
}

[opta-code="tagdelimiter"] {
    color: var(--oa-code-tagdelimiter);
}

:root {
    --oa-code-keyword: #569cd6;
    --oa-code-controlkeyword: #d8a0df;
    --oa-code-string: #ce9178;
    --oa-code-method: #dcdcaa;
    --oa-code-comment: #63b456;
    --oa-code-attribute: #9cdcfe;
    --oa-code-tagdelimiter: #808080;
    --oa-code-directive: #a699e6;
    --oa-code-component: #0096aa;
    --oa-code-background: #2f2f2f;
    --oa-code-headerbackground: #3f3f3f;
    --oa-code-color: #dcdcdc;
    --oa-code-selected: rgba(51, 153, 255, .5);
}
