@namespace OptionA.Blazor.Blog
@if (_title is not null)
{
    <OptAHeader Content="_title"/>
}
@if (_tags is not null && _tags.Any())
{
    <div class="@DataProvider.HeaderTagContainerClass">
        <OptAChildBuilder Content="_tags" />
    </div>
}
@if (_date is not null)
{
    <OptAText Content="_date" />
}
@if (_subtitle is not null)
{
    <OptAText Content="_subtitle"/>
}
@if (DataProvider.DisplayLineAfterPostHeader)
{
    <hr/>
}
@if (ChildContent is not null)
{
    @ChildContent
}
else if (_content is not null)
{
    <OptAChildBuilder Content="_content"/>
}