[opta-code="block"] {
    background-color: var(--oa-code-background);
    color: var(--oa-code-color);
    text-align: left;
}

::deep [opta-code="header"] {
    background-color: var(--oa-code-headerbackground);
}

::deep [opta-code-marker~="selected"] {
    background-color: var(--oa-code-selected);
}

::deep [opta-code="keyword"] {
    color: var(--oa-code-keyword);
}

::deep [opta-code="controlkeyword"] {
    color: var(--oa-code-controlkeyword);
}

::deep [opta-code="string"] {
    color: var(--oa-code-string);
}

::deep [opta-code="method"] {
    color: var(--oa-code-method);
}

::deep [opta-code="comment"] {
    color: var(--oa-code-comment);
}

::deep [opta-code="attribute"] {
    color: var(--oa-code-attribute);
}

::deep [opta-code="component"] {
    color: var(--oa-code-component);
    font-weight: var(--oa-fontweight-bold);
}

::deep [opta-code="directive"] {
    color: var(--oa-code-directive);
}

::deep [opta-code="tagdelimiter"] {
    color: var(--oa-code-tagdelimiter);
}

::deep [opta-code="class"] {
    color: var(--oa-code-class);
}

::deep [opta-code="interface"] {
    color: var(--oa-code-interface);
}

::deep [opta-code="enum"] {
    color: var(--oa-code-enum);
}

::deep [opta-code="struct"] {
    color: var(--oa-code-struct);
}




