@using OptionA.Blazor.Blog.Builder.HelperComponents
@using OptionA.Blazor.Blog.Builder.Parts

<h1>New post</h1>
@if (_post is null)
{
    <div @attributes="@GetCreatePostContainerAttributes()">
        <button type="button" @onclick="CreateNewPost" @attributes="@GetCreatePostAttributes()">
            <OptaText Content="@GetCreatePostContent()" />
        </button>
    </div>
}
else
{
    <OptaPostForm Post="_post"
                  PostChanged="OnPostChanged"
                  PostSubmitted="OnSavePost"/>
}