@using OptionA.Blazor.Blog.Builder.HelperComponents
@using OptionA.Blazor.Blog.Builder.Parts

@if (_post is null)
{
    <div @attributes="@DataProvider.GetAttributes(BuilderType.CreatePostButtonContainer)">
        <button type="button" @onclick="CreateNewPost" @attributes="@DataProvider.GetAttributes(BuilderType.CreatePostButton)">
            <OptAChild Content="@DataProvider.GetContent(BuilderType.CreatePostButton, "Create new post")" />
        </button>
    </div>
}
else
{
    <OptAPostForm Post="_post"
                  PostChanged="OnPostChanged"
                  PostSubmitted="OnSavePost"
                  AdditionalButtons="AdditionalButtons" />
}