<li class="opta-carousel-slide @AdditionalClasses @GetStatusClass()">
    @if (!string.IsNullOrEmpty(ImageUrl))
    {
        <img src="@ImageUrl" alt="@ImageText" title="@ImageText" class="opta-carousel-image" />
    }
    <div class="opta-carousel-content">
        @ChildContent
    </div>
</li>