@namespace OptionA.Blazor.Components
@inherits OptAComponent

<div @ref="_splitter" opta-splitter>
    <div @attributes="@GetFirstContainerAttributes()">
        @First
    </div>
    <div @attributes="@GetSplitterAttributes()" @onmousedown="StartDrag">

    </div>
    <div @attributes="@GetSecondContainerAttributes()">
        @Second
    </div>
</div>