@using Microsoft.AspNetCore.Components.Forms
@namespace OptionA.Blazor.Components
@inherits OptAComponent

@typeparam TValue

<InputRadioGroup @bind-Value="InternalValue"  
                 AdditionalAttributes="GetAllAttributes()">
        @foreach (var item in OrderedItems)
        {
            <label @attributes="@GetOptionLabelAttributes(item.Index, item.Value)"><InputRadio Value="@item.Index" /> @GetDisplayName(item.Value)</label>@GetSeparator()
        }
</InputRadioGroup>