@using Microsoft.AspNetCore.Components.Forms
@namespace OptionA.Blazor.Components
@inherits OptAComponent

@typeparam TEnum where TEnum: struct, Enum

@if (_values is not null)
{
    <InputSelect @bind-Value="InternalValue" AdditionalAttributes="GetAllAttributes()">
        @foreach (var value in OrderedItems)
        {
            <option @attributes="@GetOptionAttributes(value)">@GetDisplayName(value)</option>
        }
    </InputSelect>
}
