@inherits LayoutComponentBase

<main>
    <OptAMenu>
        <OptAMenuItem Name="Home"
                      Description="The home button"
                      Href="/" />           
        <OptAMenuItem Name="BlogBuilder"
                      Href="/blogbuilder" />
        <OptAMenuGroup Name="Components"
                       Description="Components to test"
                       ActiveRoute="/components/">
            <OptAMenuItem Name="Buttons"
                          Href="/components/buttons" />
            <OptAMenuItem Name="Carousel"
                          Href="/components/carousel" />
            <OptAMenuItem Name="Gallery"
                          Href="/components/gallery" />
            <OptAMenuItem Name="Modal"
                          Href="/components/modal" />
            <OptAMenuItem Name="Message Box"
                          Href="/components/messagebox" />
            <OptAMenuItem Name="Responsive"
                          Href="/components/responsive" />
            <OptAMenuItem Name="Splitter"
                          Href="/components/splitter" />
        </OptAMenuGroup>
        <OptAMenuItem Name="Storage service"
                      Href="/storage" />               
    </OptAMenu>
    <article>
        @Body
    </article>
</main>

