@using Microsoft.AspNetCore.Components.Forms
@typeparam TEnum where TEnum: struct, Enum

@if (_values is not null)
{
    <InputSelect @bind-Value="InternalValue" AdditionalAttributes="AdditionalAttributes">
        @foreach (var value in OrderedItems)
        {
            <option @attributes="@GetOptionAttributes(value)">@GetDisplayName(value)</option>
        }
    </InputSelect>
}
