<div @attributes="GetFleixbleTextAreaAttributes()">
    @if (_showAutoGrow)
    {
    <div @attributes="GetCheckboxContainerAttributes()">
        <OptAInputCheckbox @bind-Value="_autoGrow"
                            Attributes="@GetCheckBoxAttributes(_id)" />
        <label @attributes="@GetLabelAttributes(_id)">
            <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Auto grow")" />
        </label>
    </div>
    }
    <OptAInputTextArea @ref="_input"
                       @bind-Value="InternalValue"
                       Attributes="Attributes" 
                       AutoGrow="_autoGrow"
                       Mode="Mode"/>
</div>