@namespace OptionA.Blazor.Components
@inherits OptAComponent

<div @attributes="@GetBarAttributes()">
    @if (StartButtons is not null)
    {
        <div @attributes="@GetGroupAttributes("start")">
            @StartButtons
        </div>
    }
    @if (CenterButtons is not null)
    {
        <div @attributes="@GetGroupAttributes("center")">
            @CenterButtons
        </div>
    }
    @if (EndButtons is not null)
    {
        <div @attributes="@GetGroupAttributes("end")">
            @EndButtons
        </div>
    }
</div>