[orientation="horizontal"] {
    display: flex;
    flex-direction: row;
}

[orientation="vertical"] {
    display: flex;
    flex-direction: column;
}

[opta-button-group] {
    gap: .4rem;
    flex: 1 0 0;
}

[opta-button-bar] {   
    justify-content: stretch;
}

[button-alignment="start"] {    
    justify-content: start;
}

[button-alignment="center"] {
    justify-content: center;
}

[button-alignment="end"] {
    justify-content: end;
}


