@namespace OptionA.Blazor.Components
@inherits OptaComponent

<button @attributes="@GetButtonAttributes()" @onclick="Click">
    @if (ButtonType.HasFlag(ButtonTypes.Icon))
    {
        <i class="@GetIcon()"></i>
    }
    @if (ButtonType.HasFlag(ButtonTypes.Name))
    {
        <span>@Name</span>
    }
</button>