[opta-button-bar] {
    display: flex;
    flex-direction: row;
    width: 100%;
}

[vertical] {
    flex-direction: column;
    height: 100%;
    width: unset;
}

[opta-button-group] {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
    align-items: flex-start;
}

[vertical] [opta-button-group] {
    flex-direction: column;
}

[opta-button-bar] {   
    justify-content: stretch;
}

[button-alignment="start"] {    
    justify-content: start;
}

[button-alignment="center"] {
    justify-content: center;
}

[button-alignment="end"] {
    justify-content: end;
}


