.opta-gallery-slide {
    display: none;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    flex-basis: 100%;
    flex-shrink: 0;
    position: relative;
}

.opta-gallery-slide[active] {
    display: block;
    order: 0;
}

.opta-gallery-image {
    width: 100%;
}