@namespace OptionA.Blazor.Components
@inherits OptaComponent

<li @attributes="@GetListAttributes()">
    @if (IsCurrent)
    {
        <div class="opta-gallery-image-title">@ImageText</div>
        <img @attributes="GetImageAttributes()" />
        @if (ChildContent != null)
        {
            <div class="opta-gallery-image-description">
                @ChildContent
            </div>
        }
    }
</li>