@inherits OptaComponent

@if (Images != null)
{   
    <div @attributes="@GetContainerAttributes()">
        @foreach(var image in Images)
        {
            <figure @attributes="@GetThumbnailAttributes(image.Index)" @onclick="async () => await SelectImage(image.Index)">
                @if (ShowTitleOnThumbnail)
                {
                    <figcaption opta-thumbnail-title>
                        @image.Image.ImageText
                    </figcaption>
                }
                <img @attributes="@GetImageAttributes(image.Image)"/>
            </figure>
        }
    </div>
}