@namespace OptionA.Blazor.Components
@inherits OptAComponent

<li @attributes="@GetListAttributes()">
    @if (IsCurrent)
{
    <figure>
            <figcaption opta-gallery-image-title>@ImageText</figcaption>
            <img @attributes="GetImageAttributes()" />
            @if (ChildContent != null)
        {
            
        }
        </figure>
    <div opta-gallery-image-description>
            @ChildContent
        </div>
}
</li>