@inherits OptaComponent

@if (Images != null)
{   
    <div @attributes="@GetContainerAttributes()">
        @foreach(var image in Images)
        {
            <div @attributes="@GetThumbnailAttributes(image.Index)" @onclick="async () => await SelectImage(image.Index)">
                @if (ShowTitleOnThumbnail)
                {
                    <div class="opta-thumbnail-title">
                        @image.Image.ImageText
                    </div>
                }
                <img @attributes="@GetImageAttributes(image.Image)"/>
            </div>
        }
    </div>
}