[gallery-mode="side-by-side"] {
    display: flex;
    flex-flow: column nowrap;
}

[gallery-mode="modal"] {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

[opta-thumbnail-image] img {
    width: 100%;
}