[opta-gallery-modal] {    
    position: relative;
    margin-left: auto;
    margin-right: auto;    
    display: block;
}

[opta-gallery-close] {
    position: absolute;
    z-index: 2000;
    right: 0;
    top: 0;

}

[opta-modal-wrapper] {
    display: none;
    position: fixed;
    z-index: 1055;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

[opta-modal-wrapper][show] {
    display: block;
}

[opta-gallery-modal-background] {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
