@namespace OptionA.Blazor.Components
@inherits OptAComponent

<li @attributes="@GetItemAttributes()">    
    @if (!string.IsNullOrEmpty(Name))
    {
        <a @attributes="@GetLinkAttributes()" @onclick="ItemSelected">@Name</a>
    }  
    @if (ChildContent is not null)
    {
        @ChildContent
    }
</li>