@namespace OptionA.Blazor.Components
@inherits OptAComponent

<li @attributes="@GetItemAttributes()" @onclick="ItemSelected">
    @if (!string.IsNullOrEmpty(Name))
{
    <a @attributes="@GetLinkAttributes()">@Name</a>
}  
    @if (ChildContent is not null)
{
    @ChildContent
}
</li>