<li title="@Description" class="@GetClasses()" @onclick="() => Toggle()">
    <a class="@GetLinkClasses()">@Name</a>
    @if (_open)
    {
        <div class="opta-dropdown">
            <ul>
                @if (Items is not null)
                {
                    @Items
                }
            </ul>
        </div>
    }
</li>
