menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

li {
    user-select: none;
}

[opta-dropdown] {
    position: absolute;
    z-index: 2000;
    left: 0;
    visibility: collapse;
}

[opta-menu-group][open] [opta-dropdown] {
    visibility: visible;
    height: var(--opta-menu-dropdown-size);
}

[opta-menu-group][closing] [opta-dropdown] {
    visibility: visible;
}

[opta-dropdown][vertical] {
    left: 100%;
    top: 0;
}

[opta-menu-group] {
    position: relative;
    --opta-menu-dropdown-size: 0px;
}

[opta-menu-group-background] {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1900;
}