@namespace OptionA.Blazor.Components
@inherits OptaComponent

<nav @attributes="@GetContainerAttributes()">
    <menu @attributes="@GetMenuAttributes()">
        <CascadingValue Name="MenuOrientation" Value="@Orientation">
            <CascadingValue Name="OnItemSelected" Value="@OnItemSelected">
            @if (Items is not null)
            {
                @Items
            }
            </CascadingValue>
        </CascadingValue>
    </menu>
</nav>