ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

li {
    user-select: none;
}

.opta-dropdown {
    position: absolute;
    z-index: 2000;
}

.opta-dropdown-horizontal {
    left: 0;
}

.opta-dropdown-vertical {
    right: 0;
}

.opta-menu-group {
    position: relative;
}

.opta-menu-group-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1900;
}