@namespace OptionA.Blazor.Blog
@if (Content is not null && _content is not null)
{
    <tr>
    @foreach (var item in _content)
    {
        <td>
            <OptAChild Content="item" />
        </td>
    }
    </tr>
}

