<div>
    <button type="button" @onclick="async () => await AddContent(ContentType.Header)">
        Add header
    </button>
</div>
<div>
    <button type="button" @onclick="async () => await AddContent(ContentType.Paragraph)">
        Add paragraph
    </button>
</div>

