<div>
    <button type="button" @onclick="async () => await AddContent(ContentType.Header)">
        Add header
    </button>
</div>
<div>
    <button type="button" @onclick="async () => await AddContent(ContentType.Paragraph)">
        Add paragraph
    </button>
</div>
<div>
    <button type="button" @onclick="async () => await AddContent(ContentType.Code)">
        Add code
    </button>
</div>
<div>
    <button type="button" @onclick="async () => await AddContent(ContentType.Image)">
        Add Image
    </button>
</div>
<div>
    <button type="button" @onclick="async () => await AddContent(ContentType.Quote)">
        Add Quote
    </button>
</div>
