@using OptionA.Blazor.Blog.Builder.HelperComponents
@if (Content is not null)
{
    <OptaBlogComponent Name="**Paragraph**"
                       ContentChanged="ContentChanged"
                       ContentRemoved="ContentRemoved"
                       ContentIndex="ContentIndex"
                       TotalContentCount="TotalContentCount"
                       MovedUp="MovedUp"
                       MovedDown="MovedDown"
                       Content="Content">
        <label @attributes="@GetLabelAttributes(ParagraphId)">
            <OptaChild Content="@DataProvider.GetContent(BuilderType.Label, "Value")" />
        </label>
        <DirectInputTextArea @bind-Value="Content.Content" AdditionalAttributes="@GetAttributes()" AutoGrow="true" />
    </OptaBlogComponent>
}