@if (Content is not null)
{
    <OptABlogComponent Name="**Paragraph**"
                       ContentChanged="ContentChanged"
                       ContentRemoved="ContentRemoved"
                       ContentIndex="ContentIndex"
                       TotalContentCount="TotalContentCount"
                       MovedUp="MovedUp"
                       MovedDown="MovedDown"
                       Content="Content"
                       CanDrag="true"
                       DragStarted="DragStarted"
                       DragEnded="DragEnded"
                       MovedToIndex="MovedToIndex">
        <ChildContent>
            <OptAFlexibleTextArea @bind-Value="Content.Content"
                                  @ref="_input"
                                  Attributes="@GetAttributes()"
                                  Mode="_bindMode"
                                  DisplayAutoGrow="_showAutoGrow"
                                  InitialAutoGrow="_autoGrow"/>
        </ChildContent>
        <AdditionalProperties>
            <label>
                <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Bind mode")" />
            </label>
            <OptAEnumSelect @bind-Value="_bindMode" TEnum="BindMode" />
            <OptAInputCheckbox @bind-Value="_showAutoGrow" Description="Show enable autogrow" />
            <OptAInputCheckbox @bind-Value="_autoGrow" Description="Auto grow status" />
        </AdditionalProperties>
    </OptABlogComponent>
}