@page "/blogbuilder"
@using OptionA.Blazor.Blog;

<div class="row">
    <div class="col-6">
        <OptaPostBuilder OnPostChanged="PostChanged"/>
    </div>
    <div class="col-6">
        <OptaPost Post="_post"/>
    </div>
</div>