@page "/blogbuilder"
@using OptionA.Blazor.Blog;
@using OptionA.Blazor.Blog.Builder;

<div class="row">
    <div class="col-6">
        <OptaPostBuilder PostChanged="OnPostChanged"/>
    </div>
    <div class="col-6 opta-blog">
        <OptaPost Post="_post"/>
    </div>
</div>