@page "/carousel"

<OptaCarousel MinimumHeight="300">
    <Slides>
        <OptaCarouselSlide SlideNumber="1"
                           ImageUrl="https://mctsummiteu.blob.core.windows.net/sitecontent/slider/bg-1.jpg"
                           ImageText="Join us!">
            <div class="carousel-image">
                <h1>Slide 1</h1>
                <p>Lorum ipsum something and then some more</p>
                <p>Lorum ipsum something and then some more</p>
            </div>
        </OptaCarouselSlide>
        <OptaCarouselSlide SlideNumber="2"
                           ImageUrl="https://mctsummiteu.blob.core.windows.net/sitecontent/slider/bg-2.jpg"
                           ImageText="Join us!">
            <div class="carousel-image">
                Slide 2
            </div>
        </OptaCarouselSlide>
        <OptaCarouselSlide SlideNumber="3"
                           ImageUrl="https://mctsummiteu.blob.core.windows.net/sitecontent/slider/bg-3.jpg"
                           ImageText="Join us!">
            <div class="carousel-image">
                Slide 3
            </div>
        </OptaCarouselSlide>
    </Slides>
</OptaCarousel>