@page "/carousel"

<OptaCarousel>
    <Slides>
        <OptaCarouselSlide SlideNumber="1"
                           ImageUrl="https://mctsummiteu.blob.core.windows.net/sitecontent/slider/bg-1.jpg"
                           ImageText="Join us!">
            <div class="carousel-image">
                Slide 1
            </div>
        </OptaCarouselSlide>
        <OptaCarouselSlide SlideNumber="2"
                           ImageUrl="https://mctsummiteu.blob.core.windows.net/sitecontent/slider/bg-2.jpg"
                           ImageText="Join us!">
            <div class="carousel-image">
                Slide 2
            </div>
        </OptaCarouselSlide>
        <OptaCarouselSlide SlideNumber="3"
                           ImageUrl="https://mctsummiteu.blob.core.windows.net/sitecontent/slider/bg-3.jpg"
                           ImageText="Join us!">
            <div class="carousel-image">
                Slide 3
            </div>
        </OptaCarouselSlide>
        <OptaCarouselSlide SlideNumber="4"
                           ImageUrl="https://mctsummiteu.blob.core.windows.net/sitecontent/slider/bg-4.jpg"
                           ImageText="Join us!">
            <div class="carousel-image">
                Slide 4
            </div>
        </OptaCarouselSlide>
    </Slides>
</OptaCarousel>