@page "/menu2"

<OptAMenu>
    <Items>
        <OptAMenuItem Name="Home"
                      Description="The home button"
                      Href="/" />
        <OptAMenuItem Href="/">
            <a href="/">
                <img src="https://mctsummiteu.blob.core.windows.net/sitecontent/mct_logo_small.png" class="h-100" alt="Home" />
            </a>
        </OptAMenuItem>
        <OptAMenuItem Name="Home2"
                      Description="The menu button"
                      Href="/menu" />
        <OptAMenuItem Name="Home3"
                      Description="The menu button"
                      Href="/menu2" />
        <OptAMenuItem Name="Buttons"
                      Href="/buttons" />
        <OptAMenuGroup Name="Group 1"
                       Description="My first group"
                       ActiveRoute="/menu3/">
            <Items>
                <OptAMenuItem Name="inner 1"
                              Href="/menu3/item1" />
                <OptAMenuDivider />
                <OptAMenuItem Name="Inner 2"
                              Href="/menu3/item2" />
            </Items>
        </OptAMenuGroup>
    </Items>
</OptAMenu>