@page "/components/responsive"
<PageTitle>Responsive</PageTitle>
<div class="flex-container">
    <div>
        <OptAResponsive>
            <ResponsiveContent />
        </OptAResponsive>
    </div>
    <div>
        <ResponsiveThroughService />
    </div>
</div>