@page "/components/tabs"
<PageTitle>Tabs</PageTitle>

<OptATabs>
    <OptATab Name="Tab 1">
        <div>
            Test 1
        </div>
    </OptATab>
    <OptATab Name="Tab 2">
        <div>
            Test 2
        </div>
    </OptATab>
    <OptATab Name="Tab 3">
        <div>
            Test 3
        </div>
    </OptATab>
    <OptATab Name="Tab 4">
        <div>
            Test 4
        </div>
    </OptATab>
    <OptATab Name="Tab 5">
        <div>
            Test 5
        </div>
    </OptATab>
    <OptATab Name="Tab 6">
        <div>
            Test 6
        </div>
    </OptATab>
    <OptATab Name="Tab 7">
        <div>
            Test 7
        </div>
    </OptATab>
    <OptATab Name="Tab 8">
        <div>
            Test 8
        </div>
    </OptATab>
    <OptATab Name="Tab 9">
        <div>
            Test 9
        </div>
    </OptATab>
    <OptATab Name="Tab 10">
        <div>
            Test 10
        </div>
    </OptATab>
    <OptATab Name="Tab 11">
        <div>
            Test 11
        </div>
    </OptATab>
    <OptATab Name="Tab 12">
        <div>
            Test 12
        </div>
    </OptATab>
    <OptATab Name="Tab 13">
        <div>
            Test 13
        </div>
    </OptATab>
    <OptATab Name="Tab 14">
        <div>
            Test 14
        </div>
    </OptATab>
    <OptATab Name="Tab 15">
        <div>
            Test 15
        </div>
    </OptATab>
    <OptATab Name="Tab 16">
        <div>
            Test 16
        </div>
    </OptATab>
    <OptATab Name="Tab 17">
        <div>
            Test 17
        </div>
    </OptATab>
</OptATabs>